
h3{
    margin : 0;
}

.calendar_wrap{
    width : 100%;
    margin : 0 auto;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    font-family: 'Noto Sans KR', sans-serif;
    position : relative;
}

.menuBtn{
    position : absolute;
    left : 50px;
    top : 50px;
    cursor : pointer;
    border : none;
    background : none;
    z-index : 10;
}

.menuBtn img{
    width : 30px;
    height : 30px;
}

.controller_wrap{
    padding : 30px;
    font-family: 'KCC-Ganpan';
}

.calender_controller{
    display : flex;
    justify-content : space-between;
    align-items : center;
    width : 400px;
}

.display_year{
    font-size : 25px;
    margin : 10px 0 10px 0;
}

.display_month{
    font-size : 35px;
    margin : 0;
}

.controllerBtn{
    background : none;
    border : none;
}

.controller_display{
    width : 200px;
    height : 80px;
}

.controllerBtn img{
    width : 30px;
    height : 30px;
}


.calendar_header{
    width : 1295px;
    background-color: #fff1ef;
    border-radius: 10px;
    vertical-align: middle;
    margin : 10px 0 10px 0;
    font-weight : bold;
    justify-content : space-evenly;
}

.header_el{
    padding : 10px;
    width : 175px;
}

.calendar_body {
    background-color : #ffebe8;
    border-radius : 10px;
    margin-bottom : 40px;
}

.calendar_row {
    display : flex;
}

.dayCell{
        text-align: right;
        margin: 5px;
        padding: 8px;
        width: 175px;
        height: 125px;
        background-color: rgba(255,255,255, 0.3);
        border-radius: 10px;
}

.dayCell:nth-child(7n+1){
    color : red;
    font-weight : bold;
}

.dayCell:nth-child(7n+7){
    color : blue;
    font-weight : bold;
}

.dayCell p{
    margin : 0;
    cursor : cursor;
}

.todayCell p{
    font-weight : bold;
    border-radius: 50%;
    position : relative;
    z-index : 2;
}

.todayCell p:after{
    content : '';
    width : 25px;
    height : 25px;
    display : inline-block;
    border-radius: 50%;
    position : absolute;
    right : -7px;
    top : 0px;
    z-index : -1;
    background-color : #ffffff;
}

.list_preview{
    text-align: left;
    font-size : 13px;
    margin : 5px 0 5px 0;
}

.list_preview ul{
    padding : 0;
    list-style : none;
}

.list_preview ul li{
    display : flex;
    align-items : center;
}

.list_preview ul li img{
    margin-right : 3px;
    padding : 3px;
    width : 10px;
    height : 10px;
}