.dayModal_header p{
    margin : 0;
    font-family: 'Nunito';
    font-weight : bold;
}

.dateBox{
    display : flex;
    align-items : center;
}

.modalController{
    width : 25px;
    height : 25px;
    margin : 0 20px 0 20px;
}

.dayBox{
    font-size: 45px;
    display : flex;
    align-items : center;
    margin-right : 3px;
}

.monthBox{
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
}

.modalYear{
    font-size: 15px;
    position: relative;
    top: 5px;
}

.modalMonth{
    font-size: 22px;
    position: relative;
    top: -2px;
}

.stella_img img{
    height: 130px;
    position: absolute;
    top: -61px;
    right: 30px;
}
